<!DOCTYPE html>
<html>
  <head>
    <title>eCloud</title>
      <script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/socket.io/socket.io.js"></script>

    <script type="application/javascript">
        var socket = io();


        var submit = function() {

           var data =
                   [   {x: $("#user1").val(),
                        y: $("#user1_2").val(),
                        id: "user1"},
                       {x: $("#user2").val(),
                           y: $("#user2_2").val(),
                           id: "user2"},
                       {x: $("#user3").val(),
                           y: $("#user3_2").val(),
                           id: "user3"},
                       {x: $("#user4").val(),
                           y: $("#user4_2").val(),
                           id: "user4"},
                       {x: $("#user5").val(),
                           y: $("#user5_2").val(),
                           id: "user5"},
                       {x: $("#user6").val(),
                           y: $("#user6_2").val(),
                           id: "user6"}

            ];
           var positions = [];
           data.forEach(function(d){
               if(d.x != "" && d.y != "")
                positions.push(d);
           });

            console.log(positions);
           socket.emit("updatePositions", JSON.stringify(positions));
        };

    </script>

  </head>
  <body>

    <div id="colors"></div>

    user1<input id="user1" type="text" /><input id="user1_2" type="text" /><br/>
    user2<input id="user2" type="text" /><input id="user2_2" type="text" /><br/>
    user3<input id="user3" type="text" /><input id="user3_2" type="text" /><br/>
    user4<input id="user4" type="text" /><input id="user4_2" type="text" /><br/>
    user5<input id="user5" type="text" /><input id="user5_2" type="text" /><br/>
    user6<input id="user6" type="text" /><input id="user6_2" type="text" /><br/>

    <input type="submit" onclick="javascript:submit()">
  </body>
</html>
