<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eCloud</title>
      <script type="application/javascript" src="/ecloud/bower_components/jquery/dist/jquery.min.js"></script>
    <link rel='stylesheet' href='/ecloud/stylesheets/style.css' />
      <script type="application/javascript" src="/ecloud/bower_components/lodash/lodash.js"></script>

      <script src="/socket.io/socket.io.js"></script>
      <script type="application/javascript">
          var socket = io();
      </script>


    <script type="application/javascript">

        var __screenWidth = $(window).width();
        var __screenHeight = $(window).height();


        //socket stuff
        //------------

        socket.emit("registerResults");
        socket.on("update", function(uri){
            $("#results").html(uri);
            var iframe = document.getElementById("external");
            iframe.src = uri;
        });
        $(window).bind('unload', function(){
            socket.disconnect();
        });


    </script>

  </head>
  <body>
  <iframe src="/ecloud/launch/history" style="width:29%;height:100%;float:left;border:0;border-right:solid 1px white"></iframe>
  <iframe id="external" style="margin:0;width:69%;height:100%;border:0"></iframe>
  <div>


      <div id="results"></div>

     </div>



  <script type="application/javascript">

  </script>
  </body>
</html>
