<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1,minimal-ui">
    <title>eCloud</title>
      <script type="application/javascript" src="/ecloud/bower_components/jquery/dist/jquery.min.js"></script>
      <link href="/ecloud/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/ecloud/stylesheets/style.css' />

      <script src="/socket.io/socket.io.js"></script>

    <script type="application/javascript">
        var __sessionID  = "<%= sessionID %>"
        var socket = io.connect("");
        socket.emit("registerFilterActivities",{neeSession:__sessionID});

        var submit = function() {
           if($("#query").val().length > 0)
                socket.emit("addFilter_Query", {neeSession:__sessionID,query:($("#query").val())});
            $("#query").val("");
        };
        var reset = function() {

            socket.emit("resetFilter",{neeSession:__sessionID});

        };

        var removeQuery = function(q){
            socket.emit("removeFilter_Query",{neeSession:__sessionID, query:q})
        }


        socket.on("queryResults", function(nr){
            $("#results").html(nr + " results found");
        });
        socket.on("filterUpdate",function(results) {
            var htmlString = "";
            if(results[results.length-1].queries != undefined) {

                results[results.length-1].queries.forEach(function (q) {

                    htmlString += " <span onclick='javascript:removeQuery(\"" + q + "\")' class='queryString'>X " + q + "</span>";


                })
            }


            $("#results").html(htmlString);
        });

        $(window).bind('unload', function(){
            socket.disconnect();
        });

    </script>

  </head>
  <body>
  <div class="container-fluid">

      <div class="form-group">
      <div id="form">
          <div class="form-group">
          <h1>nee .query</h1>
          <input id="query" type="search" class="form-control" placeholder="Search something"/>
          </div>
          <input type="submit" onclick="javascript:submit();" class="btn btn-primary">
          <input type="reset" onclick="javascript:reset();" class="btn btn-primary">
      </div>

      </div>
      <div id="results"></div>
     </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/ecloud/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="application/javascript">

  </script>
  </body>
</html>
