<!DOCTYPE html>
<html>
<head>
    <title>eCloud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="javascripts/Tween.js"></script>



    <script type="application/javascript" src="/bower_components/Processing.js/processing.js"></script>
    <script type="application/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="/bower_components/lodash/lodash.js"></script>
    <script type="application/javascript" src="/bower_components/tinycolor/tinycolor.js"></script>
    <script type="application/javascript" src="/bower_components/d3/d3.js"></script>

    <script type="application/javascript" src="/javascripts/Tuio.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="application/javascript">
        var socket = io();
    </script>

    <% if(tabletop) {%>
    <script type="application/javascript" src="http://localhost:5000/libs/socket.io.js"></script>
    <% } %>
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/parsePaperData.js"></script>
    <script src="/javascripts/CountryResults.js"></script>
    <script src="/javascripts/Timeline.js"></script>
    <script src="/javascripts/Newspaper.js"></script>
    <script src="/javascripts/LoadingIcon.js"></script>
    <script src="/javascripts/visualization.js"></script>
    <script src="/javascripts/baseInit.js"></script>



</head>
<body onload="javascript:loadAll([<%- modules %>]);">
<div id="d3"></div>
<div id="map"></div>
<canvas id="overlay"></canvas>
<script type="application/javascript">
    var __tabletop = <%- tabletop%>
</script>
</body>
</html>
