html, body{
  height:100%;
}

@font-face {
  font-family: "Heavy";
  src: url("Heavy.otf");
}

@font-face {
  font-family: "Thin";
  src: url("Thin.otf");
}

body {
  padding: 0px;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0B0B0B;
}

a {
  color: #00B7FF;
}

#map { margin:0;padding:0;}
#overlay {position:absolute; top:0;left:0; margin:0;padding:0;}

#query {
  background-color:#97F8C2;
}

.queryString
{
  background-color:#97F8C2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border:solid 1px #71D799;
  padding:4px;
}
.facetString{
  background-color:#FCB1D3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border:solid 1px  #FB3A9A;
  padding:4px;
}
.enabled_true{

}
.enabled_false{
  background-color: #E7E5EE;
  color:#B0AFB6;
}